In [ ]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3' 
import logging #logger
#https://www.youtube.com/watch?v=SMZfgeHFFcA
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
#from network import DeepQNetwork
#from replay_memory import ReplayBuffer
#tf.get_logger().setLevel('ERROR')

import pandas as pd
import time

In [ ]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [ ]:
from src.env.environment import *
from src.env.portfolio import *
from src.utils.utils import *
from src.agent.agent import *

In [ ]:
import psycopg2 as pg

In [ ]:
#filter the dates where sentiment is not available

#Select Validation first
df_validation=df_training[(df_training.date>=datetime.date(2024,2,3))&(df_training.date<=datetime.date(2024,4,25))]
print("Validation: ",df_validation.shape)
#check if index is sorted. if yes ==Ture
print(df_validation.datetime.is_monotonic_increasing)
# selece Traning second -check to improve this
df_training=df_training[(df_training.date>=datetime.date(2022,1,1))&(df_training.date<datetime.date(2024,2,2))]
#df_training=df_training[(df_training.date>=datetime.date(2024,1,1))&(df_training.date<datetime.date(2024,4,2))]
print("Training: ",df_training.shape)
#check if index is sorted. if yes ==Ture
print(df_training.datetime.is_monotonic_increasing)

In [ ]:
#https://github.com/ClementPerroud/Gym-Trading-Env/tree/main/src/gym_trading_env

In [134]:
#--------------------------------------------------------------------     Environment   ----------------------------------------------------------------

#import gymnasium as gym
#from gymnasium import spaces
import pandas as pd
import numpy as np
import datetime
# import glob
# from pathlib import Path    

# from collections import Counter
#from history import History
from portfolio_v2 import Portfolio, TargetPortfolio

import tempfile, os
# ------------- f*ck warning. It was hanging code.----------------------
#import warnings
#warnings.filterwarnings("error")

def dynamic_feature_last_position_taken(history):
    return history['position', -1]

def dynamic_feature_real_position(history):
    return history['real_position', -1]

#----------------------------------------------------------------------------------------------
class TradingEnv():
 
 #------------------------------------------------------------------------------------------
 # Classs   
    def __init__(self,
                df : pd.DataFrame,
                positions : list = [1, 10],
                #functions defined above. It could be changed 
                dynamic_feature_functions = [dynamic_feature_last_position_taken, dynamic_feature_real_position],
                # reward is based on basic_reward_function which is the log (actual close, previous close)
                #reward_function = basic_reward_function,
                windows = None,
                trading_fees = 0,
                borrow_interest_rate = 0,
                portfolio_initial_value = 1000,
                initial_position ='random',
                max_episode_duration = 'max',
                #verbose = 1,
                name = "Stock",
                render_mode= "logs",
                obs_columns=['close']
                ):
        self.max_episode_duration = max_episode_duration
        self.name = name
        #self.verbose = verbose

        self.positions = positions
        self.dynamic_feature_functions = dynamic_feature_functions
       # self.reward_function = reward_function
        self.windows = windows
        self.trading_fees = trading_fees
        self.borrow_interest_rate = borrow_interest_rate
        self.portfolio_initial_value = float(portfolio_initial_value)
        self.initial_position = initial_position
        self.obs_columns = obs_columns
        assert self.initial_position in self.positions or self.initial_position == 'random', "The 'initial_position' parameter must be 'random' or a position mentionned in the 'position' (default is [0, 1]) parameter."
        #assert render_mode is None or render_mode in self.metadata["render_modes"]
        self.max_episode_duration = max_episode_duration
        #self.render_mode = render_mode
        
        #------------ check data and columns-------
        self._set_df(df)
        #-----------------------------------------
        
        #self.action_space = spaces.Discrete(len(positions))
        self.action_space = positions
        print(self.positions)

        self.observation_space =(len(self.obs_columns),)

        self.log_metrics = []
# created by me
        self._step=0
        

#------------------------------------------------------------------------------------------
#    Read df with market values for 1st time
    def _set_df(self, df):
        # df = df.copy()

        self.df = df
        assert "open" in self.df and "high" in self.df and "low" in self.df and "close" in self.df, "Your DataFrame needs to contain columns : open, high, low, close to render !"
       
  
        self.df =  self.df.reset_index()

        self._info_columns = list(self.df.columns) 

        
        
        #_obs_array has all "feature" columns in it 
        self._obs_array = np.array(self.df[self.obs_columns], dtype= np.float32)
        #_info_array is the array wich gives all information. In this case all columns minus feature_columns
        self._info_array = np.array(self.df[self._info_columns])
        # give "Close" price
        self._price_array = np.array(self.df["close"])


#------------------------------------------------------------------------------------------    
    def _get_ticker(self, delta = 0):
        return self.df.iloc[self._idx + delta]
#------------------------------------------------------------------------------------------
    def _get_price(self, delta = 0):
        return self._price_array[self._idx + delta]
 #------------------------------------------------------------------------------------------   
    #function to return the obs based on  self._obs_array calculated previously and then 
    # is added the dynamic_feature_functions which are the position[-1] and position[-2]
    def _get_obs(self):
        # for i, dynamic_feature_function in enumerate(self.dynamic_feature_functions):
        #     self._obs_array[self._idx, self._nb_static_features + i] = dynamic_feature_function(self.historical_info)

        _step_index = self._idx
      
        #return self._obs_array[_step_index]
        return np.concatenate((self._obs_array[_step_index], [self.df['position'][_step_index]]))

#------------------------------------------------------------------------------------------    
    def reset(self, seed = 0, options=None):
        #super().reset(seed = seed)
        #set random with seed 
        np.random.seed(seed)
        self._step = 0
        #self.positions is a list and self_postion is an scalar.
        self._position = np.random.choice(self.positions) if self.initial_position == 'random' else self.initial_position
        self._limit_orders = {}
        
        self._idx = 0
    
        #init Asset, fiat and interest
        self._portfolio  = TargetPortfolio(
            position = self._position,
            value = self.portfolio_initial_value,
            price = self._get_price()
        )

        #ATTENTION instance class History with name historical_info
        # self.historical_info = History(max_size= len(self.df))
        #-------------call set function in class History -----------------
        #-----------------Variables are using in df's columns.-------------
        #historical_info is used like an aux df to storage data evolution and to make calculas such as metrics. 
        # self.historical_info.set(
        #     idx = self._idx,
        #     step = self._step,
        #     date = self.df.index.values[self._idx],
        
        #select position's index
        position_index =self.positions.index(self._position)
        #     position = self._position,
        #     real_position = self._position,
        #     data =  dict(zip(self._info_columns, self._info_array[self._idx])),
        position = self._position
        portfolio_valuation = self.portfolio_initial_value
        portfolio_distribution = self._portfolio.get_portfolio_distribution(),
        reward = 0
        # )
        self.df['position']=""
        self.df['real_position']=""
        self.df['portfolio_valuation']=""
        self.df.loc[self._idx,"Asset_value"]=""
        self.df.loc[self._idx,"Money_fiat"]="" 
        self.df['reward']=""
        self.df.loc[self._idx,'position']=self._position
        self.df.loc[self._idx,"portfolio_valuation"]=self.portfolio_initial_value
        self.df.loc[self._idx,"Asset_value"]= self.portfolio_initial_value-self._portfolio.fiat_value()
        self.df.loc[self._idx,"Money_fiat"]= self._portfolio.fiat_value()
        self.df.loc[self._idx,'reward']=reward
        #print(dict(zip(self._info_columns, self._info_array[self._idx])))
        return self._get_obs(),"no info"
#------------------------------------------------------------------------------------------
    def basic_reward_function(self):
        #return np.log(history["portfolio_valuation", -1] / history["portfolio_valuation", -2])
        #print(self.df.loc[self._idx,"portfolio_valuation"],self.df.loc[self._idx-1,"portfolio_valuation"],self.df.loc[self._idx-1,"position"])
        if  self._idx:
            #SAR reward 
            reward=(self.df.loc[self._idx,"close"] - self.df.loc[self._idx-1,"close"])*self.df.loc[self._idx-1,"position"] 
        else:
            reward=0
        return reward 

#
#------------------------------------------------------------------------------------------
    def _trade(self, position, price = None):
        self._portfolio.trade_to_position(
            position, 
            price = self._get_price() if price is None else price, 
            trading_fees = self.trading_fees
        )
        self._position = position
        return
#------------------------------------------------------------------------------------------
    def _take_action(self, position):
        
        if position != self._position:
            self._trade(position)

#  #------------------------------------------------------------------------------------------   
#     def _take_action_order_limit(self):
#         if len(self._limit_orders) > 0:
#             ticker = self._get_ticker()
#             for position, params in self._limit_orders.items():
#                 if position != self._position and params['limit'] <= ticker["high"] and params['limit'] >= ticker["low"]:
#                     self._trade(position, price= params['limit'])
#                     if not params['persistent']: del self._limit_orders[position]


# #------------------------------------------------------------------------------------------
#     def add_limit_order(self, position, limit, persistent = False):
#         self._limit_orders[position] = {
#             'limit' : limit,
#             'persistent': persistent
#         }
#  #------------------------------------------------------------------------------------------   
    def step(self, position_index = None):
         #position_index is the "action" with the porfolio. It is "the index" not the value

        #I have changed order, first increment index and then calculate new treading
        self._idx += 1
        self._step += 1
        #select from position_index check action call _trade function which call   trade_to_position in library portfolio
        if position_index is not None: self._take_action(self.positions[position_index])
   
        
       
        #self._take_action_order_limit()
        price = self._get_price()
        #self._portfolio.update_interest(borrow_interest_rate= self.borrow_interest_rate)
        portfolio_value = self._portfolio.valorisation(price)
        portfolio_distribution = self._portfolio.get_portfolio_distribution()
        
        #sum asset numbers * price minus the interest
        #portfolio_value = self._portfolio.valorisation(price)
        
        self.df.loc[self._idx,"portfolio_valuation"]= portfolio_value
     
        #I think this for info (no need now)
        #portfolio_distribution = self._portfolio.get_portfolio_distribution()
        #print(portfolio_distribution)

        
        done, truncated = False, False
        # When using a max duration, each episode will start at a random starting point.
        if portfolio_value <= 0:
            done = True
        #check if m_idx has reached to dataframe length
        if self._idx >= len(self.df) - 1:
            truncated = True
        #check if max_episode_duration is int and if has reached to value
        if isinstance(self.max_episode_duration,int) and self._step >= self.max_episode_duration - 1:
            truncated = True
        
        # self.historical_info.add(
        #     idx = self._idx,
        #     step = self._step,
        #     date = self.df.index.values[self._idx]
        #position_index =position_index
        
        position = self._position
        self.df.loc[self._idx,"position"]=position
        
        real_position = self._portfolio.real_position(price)
        self.df.loc[self._idx,"real_position"]= real_position
        self.df.loc[self._idx,"Money_fiat"]= self._portfolio.fiat_value()
        self.df.loc[self._idx,"Asset_value"]= portfolio_value-self._portfolio.fiat_value()
        #     data =  dict(zip(self._info_columns, self._info_array[self._idx]))

       #portfolio_valuation = portfolio_value
        #     portfolio_distribution = portfolio_distribution, 
        reward = 0
        # )
        if not done:
            reward = self.basic_reward_function()
            self.df.loc[self._idx,"reward"] = reward

        if done or truncated:
            self.calculate_metrics()
  
        return self._get_obs(),  reward, done, truncated, "no info"

#------------------------------------------------------------------------------------------
#     def add_metric(self, name, function):
#         self.log_metrics.append({
#             'name': name,
#             'function': function
#         })
# #------------------------------------------------------------------------------------------
    def calculate_metrics(self): # it uses the data from historical_info
        aux=self.df
        self.results_metrics = {
            "Market Return" : f"{100*(self.df.loc[self._idx,'close'] / self.df.loc[0,'close'] -1):5.2f}%",
            "Portfolio Return" : f"{100*(self.df.loc[self._idx,'portfolio_valuation'] / self.df.loc[0,'portfolio_valuation'] -1):5.2f}%",

             "Position Changes" : f"{np.sum(np.diff(self.df['position']) != 0)}",
             "Episode Lenght" : f"{len(self.df['position'])}",

            }
     
        # for metric in self.log_metrics:
        #     self.results_metrics[metric['name']] = metric['function'](self.historical_info)
        text = ""
        for key, value in self.results_metrics.items():
            text += f"{key} : {value}   |   "
        print("-------------------------------------------------------------------------------------------------------")
        print(text)
        print("-------------------------------------------------------------------------------------------------------")
#------------------------------------------------------------------------------------------
    def get_metrics(self):
        return self.results_metrics
#------------------------------------------------------------------------------------------

# Create environment with class
## **Come on!! You can do it**

In [135]:
#https://gym-trading-env.readthedocs.io/en/latest/rl_tutorial.html
#https://medium.com/@sthanikamsanthosh1994/custom-gym-environment-stock-trading-for-reinforcement-learning-stable-baseline3-629a489d462d

### ------------------------------- Reading and preparing data -----------------------------------------

In [ ]:
df_training=pd.read_parquet("./data/raw/data_for_model_v2.parquet")
df_training.shape

In [144]:
# ------ how SENTARL has used input data for OLHC ----------- 

df["feature_close"] = df['close'].diff()
# df["feature_hour"] = df.index.hour
df["feature_month"] = df.index.month
df["feature_day"] = df.index.day

In [145]:
env = TradingEnv(
        name= "BTCUSD",
        df = df, # Your dataset with your custom features
        positions = [ 0,0.25, 0.5,1], # -1 (=SHORT), 0(=OUT), +1 (=LONG)
        portfolio_initial_value=100,
        obs_columns=['open','high','low','close','volume'],
        #max_episode_duration='max' # Using max_episode_duration with max string because it is going to use all data.                                                                                                                                                                                                                                                                                                    
        initial_position=0.5, #initial position of stocks
        #trading_fees = 0.01/100, # 0.01% per stock buy / sell (Binance fees)
        trading_fees =0,
        #borrow_interest_rate= 0.0003/100, # 0.0003% per timestep (one timestep = 1h here)
        borrow_interest_rate=0, 
    )
#env = gymnasium.make("TradingEnv", df = df, positions = [-1, 0, 1], initial_position= 1)

[0, 0.25, 0.5, 1]

In [146]:
env.df

,date,open,high,low,close,volume,Name,feature_close,feature_month,feature_day
0,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,NaN,2,8
1,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,-0.29,2,11
2,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,-0.19,2,12
3,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,0.39,2,13
4,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,-0.67,2,14
5,2013-02-15,13.93,14.61,13.93,14.50,15628000,AAL,0.51,2,15
6,2013-02-19,14.33,14.56,14.08,14.26,11354400,AAL,-0.24,2,19
7,2013-02-20,14.17,14.26,13.15,13.33,14725200,AAL,-0.93,2,20
8,2013-02-21,13.62,13.95,12.90,13.37,11922100,AAL,0.04,2,21
9,2013-02-22,13.57,13.60,13.21,13.57,6071400,AAL,0.20,2,22
10,2013-02-25,13.60,13.76,13.00,13.02,7186400,AAL,-0.55,2,25
11,2013-02-26,13.14,13.42,12.70,13.26,9419000,AAL,0.24,2,26
12,2013-02-27,13.28,13.62,13.18,13.41,7390500,AAL,0.15,2,27
13,2013-02-28,13.49,13.63,13.39,13.43,6143600,AAL,0.02,2,28
14,2013-03-01,13.37,13.95,13.32,13.61,7376800,AAL,0.18,3,1
15,2013-03-04,13.50,14.07,13.47,13.90,8174800,AAL,0.29,3,4
16,2013-03-05,14.01,14.05,13.71,14.05,7676100,AAL,0.15,3,5
17,2013-03-06,14.52,14.68,14.25,14.57,13243200,AAL,0.52,3,6
18,2013-03-07,14.70,14.93,14.50,14.82,9125300,AAL,0.25,3,7
19,2013-03-08,14.99,15.20,14.84,14.92,10593700,AAL,0.10,3,8
20,2013-03-11,14.85,15.15,14.71,15.13,6961800,AAL,0.21,3,11
21,2013-03-12,15.14,15.60,14.95,15.50,8999100,AAL,0.37,3,12
22,2013-03-13,15.54,16.20,15.48,15.91,11380000,AAL,0.41,3,13
23,2013-03-14,15.98,16.36,15.93,16.25,8383300,AAL,0.34,3,14
24,2013-03-15,16.45,16.54,15.88,15.98,17667700,AAL,-0.27,3,15
25,2013-03-18,15.80,16.33,15.71,16.29,6514100,AAL,0.31,3,18
26,2013-03-19,16.48,16.85,16.41,16.78,11805300,AAL,0.49,3,19
27,2013-03-20,17.13,17.33,16.87,17.23,10819800,AAL,0.45,3,20
28,2013-03-21,17.21,17.43,16.87,17.00,10740800,AAL,-0.23,3,21
29,2013-03-22,17.10,17.29,16.77,16.86,8545200,AAL,-0.14,3,22
30,2013-03-25,16.92,17.00,16.35,16.60,8400000,AAL,-0.26,3,25
31,2013-03-26,16.67,16.84,16.50,16.51,6898500,AAL,-0.09,3,26
32,2013-03-27,16.48,16.77,16.33,16.65,5537100,AAL,0.14,3,27
33,2013-03-28,17.00,17.09,16.82,16.97,8324100,AAL,0.32,3,28
34,2013-04-01,17.02,17.13,16.54,16.67,5222300,AAL,-0.30,4,1
35,2013-04-02,16.48,16.50,15.71,15.74,14595600,AAL,-0.93,4,2
36,2013-04-03,15.82,15.92,15.13,15.53,14658300,AAL,-0.21,4,3
37,2013-04-04,15.12,15.71,15.12,15.69,5520300,AAL,0.16,4,4
38,2013-04-05,15.17,15.79,15.03,15.72,5252300,AAL,0.03,4,5
39,2013-04-08,15.82,15.97,15.53,15.84,3780700,AAL,0.12,4,8
40,2013-04-09,16.07,16.10,15.67,15.70,4420200,AAL,-0.14,4,9
41,2013-04-10,15.74,15.98,15.70,15.78,3650600,AAL,0.08,4,10
42,2013-04-11,15.77,16.38,15.75,16.19,5062200,AAL,0.41,4,11
43,2013-04-12,16.11,16.39,15.95,16.14,3751800,AAL,-0.05,4,12
44,2013-04-15,16.20,16.39,15.47,15.59,6243400,AAL,-0.55,4,15
45,2013-04-16,15.96,16.74,15.81,16.37,10458200,AAL,0.78,4,16
46,2013-04-17,16.17,16.55,15.90,16.52,6581900,AAL,0.15,4,17
47,2013-04-18,16.54,16.54,15.95,16.10,7633300,AAL,-0.42,4,18
48,2013-04-19,16.10,16.24,15.85,16.02,5762600,AAL,-0.08,4,19
49,2013-04-22,15.99,16.00,15.50,15.52,9227100,AAL,-0.50,4,22

In [147]:
# # Custom logs
# # You can add custom metrics using the method .add_metric(name, function) after initializing your environment :
# env.add_metric('Position Changes', lambda history : np.sum(np.diff(history['position']) != 0) )
# env.add_metric('Episode Lenght', lambda history : len(history['position']) )
# #env.add_metric('Reward SAR', lambda history : history['data_close']*history["position"][-2] )

In [148]:
observation, info = env.reset(10)
#static features=The row of your DataFrame columns containing features in their name, at a given step
#The **dynamic features=by default, the last position taken by the agent, and the current real position).
observation

array([1.50699997e+01, 1.51199999e+01, 1.46300001e+01, 1.47500000e+01,
       8.40750000e+06, 5.00000000e-01])

In [149]:
env.action_space

np.random.choice(env.action_space)

0.25

In [150]:
value = np.random.choice(env.action_space) #position_index is the "action" with the porfolio.
position_index=env.action_space.index(value)

In [151]:
observation, reward, done, truncated, info = env.step(position_index)

asset_trade:  -1.6779192160723915

In [152]:
print(observation, reward, done, truncated)

[1.48900003e+01 1.50100002e+01 1.42600002e+01 1.44600000e+01
 8.88200000e+06 2.50000000e-01] -0.14499999999999957 False False

In [153]:
env.df

,date,open,high,low,close,volume,Name,feature_close,feature_month,feature_day,position,real_position,portfolio_valuation,Asset_value,Money_fiat,reward
0,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,NaN,2,8,0.5,,100.0,50.0,50.0,0
1,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,-0.29,2,11,0.25,0.25,99.016949,24.754237,74.262712,-0.145
2,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,-0.19,2,12,,,,n,n,
3,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,0.39,2,13,,,,n,n,
4,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,-0.67,2,14,,,,n,n,
5,2013-02-15,13.93,14.61,13.93,14.50,15628000,AAL,0.51,2,15,,,,n,n,
6,2013-02-19,14.33,14.56,14.08,14.26,11354400,AAL,-0.24,2,19,,,,n,n,
7,2013-02-20,14.17,14.26,13.15,13.33,14725200,AAL,-0.93,2,20,,,,n,n,
8,2013-02-21,13.62,13.95,12.90,13.37,11922100,AAL,0.04,2,21,,,,n,n,
9,2013-02-22,13.57,13.60,13.21,13.57,6071400,AAL,0.20,2,22,,,,n,n,
10,2013-02-25,13.60,13.76,13.00,13.02,7186400,AAL,-0.55,2,25,,,,n,n,
11,2013-02-26,13.14,13.42,12.70,13.26,9419000,AAL,0.24,2,26,,,,n,n,
12,2013-02-27,13.28,13.62,13.18,13.41,7390500,AAL,0.15,2,27,,,,n,n,
13,2013-02-28,13.49,13.63,13.39,13.43,6143600,AAL,0.02,2,28,,,,n,n,
14,2013-03-01,13.37,13.95,13.32,13.61,7376800,AAL,0.18,3,1,,,,n,n,
15,2013-03-04,13.50,14.07,13.47,13.90,8174800,AAL,0.29,3,4,,,,n,n,
16,2013-03-05,14.01,14.05,13.71,14.05,7676100,AAL,0.15,3,5,,,,n,n,
17,2013-03-06,14.52,14.68,14.25,14.57,13243200,AAL,0.52,3,6,,,,n,n,
18,2013-03-07,14.70,14.93,14.50,14.82,9125300,AAL,0.25,3,7,,,,n,n,
19,2013-03-08,14.99,15.20,14.84,14.92,10593700,AAL,0.10,3,8,,,,n,n,
20,2013-03-11,14.85,15.15,14.71,15.13,6961800,AAL,0.21,3,11,,,,n,n,
21,2013-03-12,15.14,15.60,14.95,15.50,8999100,AAL,0.37,3,12,,,,n,n,
22,2013-03-13,15.54,16.20,15.48,15.91,11380000,AAL,0.41,3,13,,,,n,n,
23,2013-03-14,15.98,16.36,15.93,16.25,8383300,AAL,0.34,3,14,,,,n,n,
24,2013-03-15,16.45,16.54,15.88,15.98,17667700,AAL,-0.27,3,15,,,,n,n,
25,2013-03-18,15.80,16.33,15.71,16.29,6514100,AAL,0.31,3,18,,,,n,n,
26,2013-03-19,16.48,16.85,16.41,16.78,11805300,AAL,0.49,3,19,,,,n,n,
27,2013-03-20,17.13,17.33,16.87,17.23,10819800,AAL,0.45,3,20,,,,n,n,
28,2013-03-21,17.21,17.43,16.87,17.00,10740800,AAL,-0.23,3,21,,,,n,n,
29,2013-03-22,17.10,17.29,16.77,16.86,8545200,AAL,-0.14,3,22,,,,n,n,
30,2013-03-25,16.92,17.00,16.35,16.60,8400000,AAL,-0.26,3,25,,,,n,n,
31,2013-03-26,16.67,16.84,16.50,16.51,6898500,AAL,-0.09,3,26,,,,n,n,
32,2013-03-27,16.48,16.77,16.33,16.65,5537100,AAL,0.14,3,27,,,,n,n,
33,2013-03-28,17.00,17.09,16.82,16.97,8324100,AAL,0.32,3,28,,,,n,n,
34,2013-04-01,17.02,17.13,16.54,16.67,5222300,AAL,-0.30,4,1,,,,n,n,
35,2013-04-02,16.48,16.50,15.71,15.74,14595600,AAL,-0.93,4,2,,,,n,n,
36,2013-04-03,15.82,15.92,15.13,15.53,14658300,AAL,-0.21,4,3,,,,n,n,
37,2013-04-04,15.12,15.71,15.12,15.69,5520300,AAL,0.16,4,4,,,,n,n,
38,2013-04-05,15.17,15.79,15.03,15.72,5252300,AAL,0.03,4,5,,,,n,n,
39,2013-04-08,15.82,15.97,15.53,15.84,3780700,AAL,0.12,4,8,,,,n,n,
40,2013-04-09,16.07,16.10,15.67,15.70,4420200,AAL,-0.14,4,9,,,,n,n,
41,2013-04-10,15.74,15.98,15.70,15.78,3650600,AAL,0.08,4,10,,,,n,n,
42,2013-04-11,15.77,16.38,15.75,16.19,5062200,AAL,0.41,4,11,,,,n,n,
43,2013-04-12,16.11,16.39,15.95,16.14,3751800,AAL,-0.05,4,12,,,,n,n,
44,2013-04-15,16.20,16.39,15.47,15.59,6243400,AAL,-0.55,4,15,,,,n,n,
45,2013-04-16,15.96,16.74,15.81,16.37,10458200,AAL,0.78,4,16,,,,n,n,
46,2013-04-17,16.17,16.55,15.90,16.52,6581900,AAL,0.15,4,17,,,,n,n,
47,2013-04-18,16.54,16.54,15.95,16.10,7633300,AAL,-0.42,4,18,,,,n,n,
48,2013-04-19,16.10,16.24,15.85,16.02,5762600,AAL,-0.08,4,19,,,,n,n,
49,2013-04-22,15.99,16.00,15.50,15.52,9227100,AAL,-0.50,4,22,,,,n,n,

In [154]:
observation, info = env.reset(3)

In [155]:
truncated=False
while not truncated:
    value = np.random.choice(env.action_space) 
    position_index=env.action_space.index(value)
    observation, reward, done, truncated, info = env.step(position_index)
    print(observation, reward, done, truncated)

[1.48900003e+01 1.50100002e+01 1.42600002e+01 1.44600000e+01
 8.88200000e+06 5.00000000e-01] -0.14499999999999957 False False
asset_trade:  -3.389830508474576
[1.44499998e+01 1.45100002e+01 1.41000004e+01 1.42700005e+01
 8.12600000e+06 0.00000000e+00] -0.09500000000000064 False False
asset_trade:  1.677573010844683
[1.43000002e+01 1.49399996e+01 1.42500000e+01 1.46599998e+01
 1.02595000e+07 2.50000000e-01] 0.0 False False
asset_trade:  5.273742746029246
[1.49399996e+01 1.49600000e+01 1.31599998e+01 1.39899998e+01
 3.18799000e+07 1.00000000e+00] -0.16749999999999998 False False
asset_trade:  -6.951315756873929
[1.39300003e+01 1.46099997e+01 1.39300003e+01 1.45000000e+01
 1.56280000e+07 0.00000000e+00] 0.5099999999999998 False False
[1.43299999e+01 1.45600004e+01 1.40799999e+01 1.42600002e+01
 1.13544000e+07 0.00000000e+00] -0.0 False False
[1.41700001e+01 1.42600002e+01 1.31499996e+01 1.33299999e+01
 1.47252000e+07 0.00000000e+00] -0.0 False False
asset_trade:  1.8847060298181
[1.36199999e+01 1.39499998e+01 1.28999996e+01 1.33699999e+01
 1.19221000e+07 2.50000000e-01] 0.0 False False
[1.35699997e+01 1.36000004e+01 1.32100000e+01 1.35699997e+01
 6.07140000e+06 2.50000000e-01] 0.050000000000000266 False False
asset_trade:  5.806110511213824
[1.36000004e+01 1.37600002e+01 1.30000000e+01 1.30200005e+01
 7.18640000e+06 1.00000000e+00] -0.13750000000000018 False False
asset_trade:  -3.8454082705159616
[1.31400003e+01 1.34200001e+01 1.26999998e+01 1.32600002e+01
 9.41900000e+06 5.00000000e-01] 0.2400000000000002 False False
asset_trade:  3.802394755185805
[1.32799997e+01 1.36199999e+01 1.31800003e+01 1.34099998e+01
 7.39050000e+06 1.00000000e+00] 0.07500000000000018 False False
asset_trade:  -5.735852269276325
[1.34899998e+01 1.36300001e+01 1.33900003e+01 1.34300003e+01
 6.14360000e+06 2.50000000e-01] 0.019999999999999574 False False
[1.33699999e+01 1.39499998e+01 1.33199997e+01 1.36099997e+01
 7.37680000e+06 2.50000000e-01] 0.04499999999999993 False False
asset_trade:  1.8149777144628558
[1.35000000e+01 1.40699997e+01 1.34700003e+01 1.38999996e+01
 8.17480000e+06 5.00000000e-01] 0.07250000000000023 False False
asset_trade:  -1.8734115534269462
[1.40100002e+01 1.40500002e+01 1.37100000e+01 1.40500002e+01
 7.67610000e+06 2.50000000e-01] 0.07500000000000018 False False
asset_trade:  5.362095955456138
[1.45200005e+01 1.46800003e+01 1.42500000e+01 1.45699997e+01
 1.32432000e+07 1.00000000e+00] 0.1299999999999999 False False
asset_trade:  -3.6078064364587448
[1.46999998e+01 1.49300003e+01 1.45000000e+01 1.48199997e+01
 9.12530000e+06 5.00000000e-01] 0.25 False False
asset_trade:  -3.6078064364587448
[1.49899998e+01 1.51999998e+01 1.48400002e+01 1.49200001e+01
 1.05937000e+07 0.00000000e+00] 0.04999999999999982 False False
[1.48500004e+01 1.51499996e+01 1.47100000e+01 1.51300001e+01
 6.96180000e+06 0.00000000e+00] 0.0 False False
[1.51400003e+01 1.56000004e+01 1.49499998e+01 1.55000000e+01
 8.99910000e+06 0.00000000e+00] 0.0 False False
asset_trade:  1.6859862259629648
[1.55400000e+01 1.62000008e+01 1.54799995e+01 1.59099998e+01
 1.13800000e+07 2.50000000e-01] 0.0 False False
asset_trade:  4.952130619397681
[1.59799995e+01 1.63600006e+01 1.59300003e+01 1.62500000e+01
 8.38330000e+06 1.00000000e+00] 0.08499999999999996 False False
asset_trade:  -3.319058422680323
[1.64500008e+01 1.65400009e+01 1.58800001e+01 1.59799995e+01
 1.76677000e+07 5.00000000e-01] -0.2699999999999996 False False
asset_trade:  -3.319058422680323
[1.58000002e+01 1.63299999e+01 1.57100000e+01 1.62900009e+01
 6.51410000e+06 0.00000000e+00] 0.15499999999999936 False False
asset_trade:  3.1914784058371275
[1.64799995e+01 1.68500004e+01 1.64099998e+01 1.67800007e+01
 1.18053000e+07 5.00000000e-01] 0.0 False False
asset_trade:  -1.6165773526955036
[1.71299992e+01 1.73299999e+01 1.68700008e+01 1.72299995e+01
 1.08198000e+07 2.50000000e-01] 0.22499999999999964 False False
asset_trade:  1.6068622803965564
[1.72099991e+01 1.74300003e+01 1.68700008e+01 1.70000000e+01
 1.07408000e+07 5.00000000e-01] -0.05750000000000011 False False
[1.71000004e+01 1.72900009e+01 1.67700005e+01 1.68600006e+01
 8.54520000e+06 5.00000000e-01] -0.07000000000000028 False False
[1.69200001e+01 1.70000000e+01 1.63500004e+01 1.66000004e+01
 8.40000000e+06 5.00000000e-01] -0.129999999999999 False False
[1.66700001e+01 1.68400002e+01 1.65000000e+01 1.65100002e+01
 6.89850000e+06 5.00000000e-01] -0.04499999999999993 False False
asset_trade:  3.2486472474564003
[1.64799995e+01 1.67700005e+01 1.63299999e+01 1.66499996e+01
 5.53710000e+06 1.00000000e+00] 0.06999999999999851 False False
asset_trade:  -6.430410580994581
[1.70000000e+01 1.70900002e+01 1.68199997e+01 1.69699993e+01
 8.32410000e+06 0.00000000e+00] 0.3200000000000003 False False
asset_trade:  1.63653370665084
[1.70200005e+01 1.71299992e+01 1.65400009e+01 1.66700001e+01
 5.22230000e+06 2.50000000e-01] -0.0 False False
asset_trade:  5.1996855571542895
[1.64799995e+01 1.65000000e+01 1.57100000e+01 1.57399998e+01
 1.45956000e+07 1.00000000e+00] -0.23250000000000037 False False
asset_trade:  -3.4181096319025652
[1.58199997e+01 1.59200001e+01 1.51300001e+01 1.55299997e+01
 1.46583000e+07 5.00000000e-01] -0.21000000000000085 False False
asset_trade:  -1.717768925911518
[1.51199999e+01 1.57100000e+01 1.51199999e+01 1.56899996e+01
 5.52030000e+06 2.50000000e-01] 0.08000000000000007 False False
asset_trade:  -1.7003407059910463
[1.51700001e+01 1.57900000e+01 1.50299997e+01 1.57200003e+01
 5.25230000e+06 0.00000000e+00] 0.007500000000000284 False False
asset_trade:  3.3700881606432387
[1.58199997e+01 1.59700003e+01 1.55299997e+01 1.58400002e+01
 3.78070000e+06 5.00000000e-01] 0.0 False False
asset_trade:  -1.6775311449316503
[1.60699997e+01 1.61000004e+01 1.56700001e+01 1.56999998e+01
 4.42020000e+06 2.50000000e-01] -0.07000000000000028 False False
[1.57399998e+01 1.59799995e+01 1.56999998e+01 1.57799997e+01
 3.65060000e+06 2.50000000e-01] 0.020000000000000018 False False
asset_trade:  1.6157176453256699
[1.57700005e+01 1.63799992e+01 1.57500000e+01 1.61900005e+01
 5.06220000e+06 5.00000000e-01] 0.10250000000000048 False False
asset_trade:  -3.308274661037258
[1.61100006e+01 1.63899994e+01 1.59499998e+01 1.61399994e+01
 3.75180000e+06 0.00000000e+00] -0.025000000000000355 False False
asset_trade:  6.860584976993878
[1.62000008e+01 1.63899994e+01 1.54700003e+01 1.55900002e+01
 6.24340000e+06 1.00000000e+00] -0.0 False False
asset_trade:  -3.430292488496939
[1.59600000e+01 1.67399998e+01 1.58100004e+01 1.63700008e+01
 1.04582000e+07 5.00000000e-01] 0.7800000000000011 False False
asset_trade:  3.3991457649331047
[1.61700001e+01 1.65499992e+01 1.58999996e+01 1.65200005e+01
 6.58190000e+06 1.00000000e+00] 0.07499999999999929 False False
asset_trade:  -6.829438253430044
[1.65400009e+01 1.65400009e+01 1.59499998e+01 1.61000004e+01
 7.63330000e+06 0.00000000e+00] -0.41999999999999815 False False
asset_trade:  6.863542813996488
[1.61000004e+01 1.62399998e+01 1.58500004e+01 1.60200005e+01
 5.76260000e+06 1.00000000e+00] -0.0 False False
asset_trade:  -5.147657110497366
-------------------------------------------------------------------------------------------------------
Market Return :  5.22%   |   Portfolio Return :  6.52%   |   Position Changes : 38   |   Episode Lenght : 50   |
-------------------------------------------------------------------------------------------------------
[1.59899998e+01 1.60000000e+01 1.55000000e+01 1.55200005e+01
 9.22710000e+06 2.50000000e-01] -0.5 False True

In [156]:
env.df

,date,open,high,low,close,volume,Name,feature_close,feature_month,feature_day,position,real_position,portfolio_valuation,Asset_value,Money_fiat,reward
0,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,NaN,2,8,0.5,,100.0,50.0,50.0,0
1,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,-0.29,2,11,0.5,0.495036,99.016949,49.016949,50.0,-0.145
2,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,-0.19,2,12,0,0.0,98.372881,0.0,98.372881,-0.095
3,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,0.39,2,13,0.25,0.25,98.372881,24.59322,73.779661,0.0
4,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,-0.67,2,14,1,1.0,97.248907,97.248907,0.0,-0.1675
5,2013-02-15,13.93,14.61,13.93,14.50,15628000,AAL,0.51,2,15,0,0.0,100.794078,0.0,100.794078,0.51
6,2013-02-19,14.33,14.56,14.08,14.26,11354400,AAL,-0.24,2,19,0,0.0,100.794078,0.0,100.794078,-0.0
7,2013-02-20,14.17,14.26,13.15,13.33,14725200,AAL,-0.93,2,20,0,0.0,100.794078,0.0,100.794078,-0.0
8,2013-02-21,13.62,13.95,12.90,13.37,11922100,AAL,0.04,2,21,0.25,0.25,100.794078,25.19852,75.595559,0.0
9,2013-02-22,13.57,13.60,13.21,13.57,6071400,AAL,0.20,2,22,0.25,0.252794,101.17102,25.575461,75.595559,0.05
10,2013-02-25,13.60,13.76,13.00,13.02,7186400,AAL,-0.55,2,25,1,1.0,100.134431,100.134431,0.0,-0.1375
11,2013-02-26,13.14,13.42,12.70,13.26,9419000,AAL,0.24,2,26,0.5,0.5,101.980227,50.990114,50.990114,0.24
12,2013-02-27,13.28,13.62,13.18,13.41,7390500,AAL,0.15,2,27,1,1.0,102.557039,102.557039,0.0,0.075
13,2013-02-28,13.49,13.63,13.39,13.43,6143600,AAL,0.02,2,28,0.25,0.25,102.709995,25.677499,77.032496,0.02
14,2013-03-01,13.37,13.95,13.32,13.61,7376800,AAL,0.18,3,1,0.25,0.252505,103.054146,26.02165,77.032496,0.045
15,2013-03-04,13.50,14.07,13.47,13.90,8174800,AAL,0.29,3,4,0.5,0.5,103.608611,51.804306,51.804306,0.0725
16,2013-03-05,14.01,14.05,13.71,14.05,7676100,AAL,0.15,3,5,0.25,0.25,104.167651,26.041913,78.125738,0.075
17,2013-03-06,14.52,14.68,14.25,14.57,13243200,AAL,0.52,3,6,1,1.0,105.13148,105.13148,0.0,0.13
18,2013-03-07,14.70,14.93,14.50,14.82,9125300,AAL,0.25,3,7,0.5,0.5,106.935383,53.467691,53.467691,0.25
19,2013-03-08,14.99,15.20,14.84,14.92,10593700,AAL,0.10,3,8,0,0.0,107.296163,0.0,107.296163,0.05
20,2013-03-11,14.85,15.15,14.71,15.13,6961800,AAL,0.21,3,11,0,0.0,107.296163,0.0,107.296163,0.0
21,2013-03-12,15.14,15.60,14.95,15.50,8999100,AAL,0.37,3,12,0,0.0,107.296163,0.0,107.296163,0.0
22,2013-03-13,15.54,16.20,15.48,15.91,11380000,AAL,0.41,3,13,0.25,0.25,107.296163,26.824041,80.472123,0.0
23,2013-03-14,15.98,16.36,15.93,16.25,8383300,AAL,0.34,3,14,1,1.0,107.869399,107.869399,0.0,0.085
24,2013-03-15,16.45,16.54,15.88,15.98,17667700,AAL,-0.27,3,15,0.5,0.5,106.077107,53.038554,53.038554,-0.27
25,2013-03-18,15.80,16.33,15.71,16.29,6514100,AAL,0.31,3,18,0,0.0,107.106015,0.0,107.106015,0.155
26,2013-03-19,16.48,16.85,16.41,16.78,11805300,AAL,0.49,3,19,0.5,0.5,107.106015,53.553008,53.553008,0.0
27,2013-03-20,17.13,17.33,16.87,17.23,10819800,AAL,0.45,3,20,0.25,0.25,108.542181,27.135545,81.406635,0.225
28,2013-03-21,17.21,17.43,16.87,17.00,10740800,AAL,-0.23,3,21,0.5,0.5,108.179953,54.089977,54.089977,-0.0575
29,2013-03-22,17.10,17.29,16.77,16.86,8545200,AAL,-0.14,3,22,0.5,0.497933,107.734506,53.64453,54.089977,-0.07
30,2013-03-25,16.92,17.00,16.35,16.60,8400000,AAL,-0.26,3,25,0.5,0.494048,106.907248,52.817271,54.089977,-0.13
31,2013-03-26,16.67,16.84,16.50,16.51,6898500,AAL,-0.09,3,26,0.5,0.492689,106.620889,52.530913,54.089977,-0.045
32,2013-03-27,16.48,16.77,16.33,16.65,5537100,AAL,0.14,3,27,1,1.0,107.066336,107.066336,0.0,0.07
33,2013-03-28,17.00,17.09,16.82,16.97,8324100,AAL,0.32,3,28,0,0.0,109.124068,0.0,109.124068,0.32
34,2013-04-01,17.02,17.13,16.54,16.67,5222300,AAL,-0.30,4,1,0.25,0.25,109.124068,27.281017,81.843051,-0.0
35,2013-04-02,16.48,16.50,15.71,15.74,14595600,AAL,-0.93,4,2,1,1.0,107.602091,107.602091,0.0,-0.2325
36,2013-04-03,15.82,15.92,15.13,15.53,14658300,AAL,-0.21,4,3,0.5,0.5,106.166485,53.083243,53.083243,-0.21
37,2013-04-04,15.12,15.71,15.12,15.69,5520300,AAL,0.16,4,4,0.25,0.25,106.713383,26.678346,80.035037,0.08
38,2013-04-05,15.17,15.79,15.03,15.72,5252300,AAL,0.03,4,5,0,0.0,106.764393,0.0,106.764393,0.0075
39,2013-04-08,15.82,15.97,15.53,15.84,3780700,AAL,0.12,4,8,0.5,0.5,106.764393,53.382196,53.382196,0.0
40,2013-04-09,16.07,16.10,15.67,15.70,4420200,AAL,-0.14,4,9,0.25,0.25,106.292581,26.573145,79.719435,-0.07
41,2013-04-10,15.74,15.98,15.70,15.78,3650600,AAL,0.08,4,10,0.25,0.250954,106.427985,26.70855,79.719435,0.02
42,2013-04-11,15.77,16.38,15.75,16.19,5062200,AAL,0.41,4,11,0.5,0.5,107.121934,53.560967,53.560967,0.1025
43,2013-04-12,16.11,16.39,15.95,16.14,3751800,AAL,-0.05,4,12,0,0.0,106.95652,0.0,106.95652,-0.025
44,2013-04-15,16.20,16.39,15.47,15.59,6243400,AAL,-0.55,4,15,1,1.0,106.95652,106.95652,0.0,-0.0
45,2013-04-16,15.96,16.74,15.81,16.37,10458200,AAL,0.78,4,16,0.5,0.5,112.307776,56.153888,56.153888,0.78
46,2013-04-17,16.17,16.55,15.90,16.52,6581900,AAL,0.15,4,17,1,1.0,112.82232,112.82232,0.0,0.075
47,2013-04-18,16.54,16.54,15.95,16.10,7633300,AAL,-0.42,4,18,0,0.0,109.953956,0.0,109.953956,-0.42
48,2013-04-19,16.10,16.24,15.85,16.02,5762600,AAL,-0.08,4,19,1,1.0,109.953956,109.953956,0.0,-0.0
49,2013-04-22,15.99,16.00,15.50,15.52,9227100,AAL,-0.50,4,22,0.25,0.25,106.522184,26.630546,79.891638,-0.5

In [92]:
truncated=False
while not truncated:
    observation, reward, done, truncated, info = env.step(position_index)
    print(observation, reward, done, truncated)

IndexError: index 50 is out of bounds for axis 0 with size 50

In [93]:
truncated=False
while not truncated:
    observation, reward, done, truncated, info = env.step(position_index)
    print(observation, reward, done, truncated)

IndexError: index 51 is out of bounds for axis 0 with size 50

In [ ]:
#-------------------- Market return ------------------------

print(f"{100*((8739.00/8740.99)-1):5.10f}%") #only the two lines

print(f"{100*((43312.27/8739)-1):5.2f}%") # with all data

In [ ]:
 print("Market Return: "f"{100*(env.historical_info['data_close', -1] / env.historical_info['data_close', 0] -1):5.6f}%")

In [ ]:
env.observation_space
env.positions

In [ ]:
env.action_space

In [ ]:
#-------------------- Portfilio valuation ------------------------
position=0
print(f"{100*(((8740.99/8739)-1)*position+(1)):5.10f}%") #only the two lines

In [ ]:
# reward funtion
np.log(8739/8740.99)

### ------------------------------ TEST with two or morelines only ---------------------------------------------

In [ ]:
#df=df_file.iloc[0:2,:].copy()
df=df_file.iloc[0:10,:].copy()

In [ ]:
df

In [ ]:
# df is a DataFrame with columns : "open", "high", "low", "close", "Volume USD"

# Create the feature : ( close[t] - close[t-1] )/ close[t-1]
df["feature_close"] = df["close"].pct_change()

# Create the feature : open[t] / close[t]
df["feature_open"] = df["open"]/df["close"]

# Create the feature : high[t] / close[t]
df["feature_high"] = df["high"]/df["close"]

# Create the feature : low[t] / close[t]
df["feature_low"] = df["low"]/df["close"]

 # Create the feature : volume[t] / max(*volume[t-7*24:t+1])
df["feature_volume"] = df["Volume USD"] / df["Volume USD"].rolling(7*24).max()

df.dropna(inplace= True) # Clean again !
# Eatch step, the environment will return 5 inputs  : "feature_close", "feature_open", "feature_high", "feature_low", "feature_volume"

In [ ]:
env = TradingEnv(
        name= "BTCUSD",
        df = df, # Your dataset with your custom features
        positions = [0, 1], # -1 (=SHORT), 0(=OUT), +1 (=LONG)
        portfolio_initial_value=100,
        initial_position=1,
        #trading_fees = 0.01/100, # 0.01% per stock buy / sell (Binance fees)
        trading_fees =0,
        #borrow_interest_rate= 0.0003/100, # 0.0003% per timestep (one timestep = 1h here)
        borrow_interest_rate= 0,
        verbose=1
    )

In [ ]:
# Custom logs
# You can add custom metrics using the method .add_metric(name, function) after initializing your environment :

env.add_metric('Position Changes', lambda history : np.sum(np.diff(history['position']) != 0) )
env.add_metric('Episode Lenght', lambda history : len(history['position']) )

env.add_metric('Positions', lambda history : history['position'] )
env.add_metric('portfolio_valuation', lambda history : history['portfolio_valuation'] )

In [ ]:
observation, info = env.reset(7)

In [ ]:

for i in range(10):
    # Run an episode until it ends :
    done, truncated = False, False
    observation, info = env.reset(7)
    scores=[0]
    
    while not done and not truncated:
        # Pick a position by its index in your position list (=[-1, 0, 1])....usually something like : position_index = your_policy(observation)
        position_index = np.random.choice(env.action_space) # At every timestep, pick a random position index from your position list (=[-1, 0, 1])
        observation, reward, done, truncated, info = env.step(position_index)
        print(observation)
        # At the end of the episode you want to render
        scores.append(reward)
    print(np.sum(scores))

In [ ]:
import matplotlib.pyplot as plt
import datetime
import numpy as np

plt.figure(figsize=(20, 5))
plt.plot(df.index,scores) # x & y
plt.show()

# First trading alg